#text_main{
z-index: 2;
position: absolute;
color: white;
top: 130px;
left:350px;
font-family:  "gilroyextrabold";
font-size: 80px;
letter-spacing: 0px;
word-spacing: 2px;
color: #FFFFFF;
font-weight: 900;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
animation: fadeIn 3s;

}

#text_2{
    width:800px;
    z-index: 2;
position: absolute;
color: white;
top: 300px;
left:280px;
font-family:  "gilroyextrabold";
font-size: 40px;
letter-spacing: 0px;
word-spacing: 2px;
color: #FFFFFF;
font-weight: 600;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
text-align: center;

animation: fadeIn 3s;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url('radomir_tinkov_-_gilroy-extrabold-webfont.woff2') format('woff2'),
         url('radomir_tinkov_-_gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'gilroyextrabold';
  src: url('radomir_tinkov_-_gilroy-light-webfont.woff2') format('woff2'),
       url('radomir_tinkov_-_gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
  nav {
    position: fixed;
    border-radius: 50px;
    top:20px;
    width: 70%;
    left : 200px;
    line-height: 50px;
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.7);
    height: 60px;
    align-items: center;
    align-content: center;
  }
  
  nav ul {
    line-height: 30px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
    z-index: 600;
  }
  
  nav.black ul {
    background: #000;
    z-index: 600;
  }
  
  nav ul li {
    display: inline-block;
    padding: 13px 29px;
    z-index: 11;
    padding-right: 65px;
  
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  
 
    z-index: 11;
    font-family:  "gilroyextrabold";
    font-size: 18px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 5;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
  }
  
  .menu-icon {
    line-height: 60px;
    width: 80%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
    z-index: 600;
  }
  
 








  .first{
    z-index: -1;
    width: 100%;
    overflow: hidden;
    height: 700px;
    background: rgba(50.0313413139787,70.56594400980298,224.0533980582524, 1);
    position: absolute;
    top:0;

          
  
}

.first.up-scroll {
  -webkit-transform: translate3d(100, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
  .second{
    position: absolute;
    top :700px;
    background-color:#89CFF0 ;
    width: 100%;
    height: 570px;

    overflow: hidden;
    z-index: 4;
    background-size: cover;
   

  }
.about{
  position: absolute;
  z-index: 5;
  width: 55%;
  left:0;
  height: 570px;
  background-image: url('grid.webp');
  background-size: cover;
}

.about2{
  position: absolute;
  z-index: 5;
  width: 55%;
  height: 570px;
left: 650px;

  background-image: url('grid2.jpg');
  background-size: cover;
 
}
.about3{
  position: absolute;
  box-shadow: 10px 10px 16px #000000;
  z-index: 6;
  width: 85%;
  top:50px;
  height: 400px;
left: 100px;
background-color: #FFFFFF;

  background-size: cover;
 
}


.about_headingdiv{
  position: absolute;
  top: 150px;
  right:900px;
  z-index: 7;
  padding: 10px;
  background-color: transparent;
    

}
.about_headingdiv2{
  position: absolute;
  top: 100px;
  left:600px;
  width:600px;
  display: inline-block;
  z-index: 7;
  padding: 10px;
  background-color: transparent;
    

}

#about_heading{
  font-family:  "gilroyextrabold";
    font-size: 50px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: black;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    z-index:12;
    display: inline-block;

}
#about_content{
  font-family:'arial';
    font-size: 28px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: black;
    font-weight: 40;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    z-index:12;
    display: inline-block;

}

.third{
  position: absolute;
  top :1220px;
  background-color:white ;
  width: 100%;
  height: 1000px;
 
  z-index: 4;
  background-image: url('background_blue.jpg');
  background-size: cover;

}
.projects{
position: relative;
z-index: 5;
width: 100%;
height: 500px;
background-color: #002244;
top:200px;


}

.project_headingdiv{
position: absolute;
top: 10px;
left:400px;
z-index: 6;
background-color: transparent;
  

}
#project_heading{
font-family:  "gilroyextrabold";
  font-size: 50px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: white;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  z-index:12;
}

.container {  display: grid;
  overflow: hidden;
  position: relative;
z-index: 5;
width: 100%;
height: 1200px;

top:200px;
right:120px;
}


.my_work_heading{
  position:absolute;
  top:0px;
  left:550px;
  font-family:  "gilroyextrabold";
  font-size: 50px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: black;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  z-index: 11;
}
.my_work_heading2{
  position: absolute;
  position:absolute;
  top:100px;
  left:420px;
  font-family:  "arial";
  font-size: 26px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: black;
  font-weight: 50;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  z-index: 11;
 
}

.my_work1{
  position: absolute;
  top:30px;
  left:250px;
  height:320px;
  width:500px;
  background-image: url('work1.png');
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px;

}
.my_work1_text{
  position:absolute;
  top:210px;
  left:320px;
  font-family:  "gilroyextrabold";
  font-size: 35px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: white;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  z-index: 11;
}
.my_work2_text{
  position:absolute;
  top:210px;
  left:920px;
  font-family:  "gilroyextrabold";
  font-size: 35px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: white;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  z-index: 11;
}

.my_work3_text{
  position:absolute;
  top:610px;
  left:320px;
  font-family:  "gilroyextrabold";
  font-size: 35px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: black;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  z-index: 11;
}


.my_work2{
  position: absolute;
  top:30px;
  left:850px;
  height:320px;
  width:500px;
  background-image: url('work2.jpg');
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px;
  filter: brightness(0.5);
}

.my_work3{
  position: absolute;
  top:400px;
  left:250px;
  height:320px;
  width:500px;
  background-image: url('calorie.png');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px;
  background-size: cover;
  filter: brightness(0.9);
}

.my_work4{
  position: absolute;
  top:400px;
  left:850px;
  height:320px;
  width:500px;
  background-image: url('Fitofy.png');
  box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 20px;
}

.fourth{
  width:100%;
  background-color: #000;
  position: absolute;
  height:500px;
  top:1000px;
}